body {
  font-family: "Roboto", sans-serif;
}

.logo {
  text-decoration: none;
  font-size: 26px;
  font-weight: 700;
  font-family: raleway;
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #000000;
}

.link-nav {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: roboto;
}
.link-nav:hover,
.link-nav:focus {
  color: #2196f3;
}

.mail { 
  color: #757575;
  text-decoration: none;
font-size: 14px;
font-weight: 500;
font-family: roboto;
}
.mail:hover,
.mail:focus {
color: #2196f3;
}
.tel {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  font-family: roboto;
}
.tel:hover,
.tel:focus {
color: #2196f3;